/* Stylesheet CSS */

:root {
    --background-black: #001220;
}


html,
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-black);
    margin: 0rem;
    overflow-x: hidden;
    overflow-y: auto;
}
