#image-track>.image {
    width: 40vmin;
    aspect-ratio: 9/16;
    object-fit: cover;
    object-position: 100% center;
}

#image-track {
    display: inline-flex;
    gap: 4vmin;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}
