#image-track>.image {
    width: 40vmin;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 10px;
}

#image-track {
    display: inline-flex;
    gap: 3vmin;
    position: relative;
    left: 50%;
    top: 0%;
    transform: translate(0%, 0%);
    user-select: none;
}
